<ng9-odometer [number]="number" [observable]="observable" [config]="config"></ng9-odometer>

<!-- <br /> <br />

<ng9-odometer [number]="number" [observable]="observable" [config]="config"></ng9-odometer>

<br /> <br />

<ng9-odometer [number]="number" [observable]="observable" [config]="config"></ng9-odometer>
 -->


<!-- <div class="prize-num">
    <span class="num-box">{{ prizeNum1.num1 }}</span>
    <span class="num-box">{{ prizeNum1.num2 }}</span>
    <span class="num-box">{{ prizeNum1.num3 }}</span>
    <span class="num-box">{{ prizeNum1.num4 }}</span>
    <span class="num-box">{{ prizeNum1.num5 }}</span>
</div> -->
<!-- 
<br /> <br />


<div class="prize-num">
    <span class="num-box">{{ prizeNum2.num1 }}</span>
    <span class="num-box">{{ prizeNum2.num2 }}</span>
    <span class="num-box">{{ prizeNum2.num3 }}</span>
    <span class="num-box">{{ prizeNum2.num4 }}</span>
    <span class="num-box">{{ prizeNum2.num5 }}</span>
</div>

<br /> <br />


<div class="prize-num">
    <span class="num-box">{{ prizeNum3.num1 }}</span>
    <span class="num-box">{{ prizeNum3.num2 }}</span>
    <span class="num-box">{{ prizeNum3.num3 }}</span>
    <span class="num-box">{{ prizeNum3.num4 }}</span>
    <span class="num-box">{{ prizeNum3.num5 }}</span>
</div> -->