.head-text {
    font-size: 48px;
    color: yellow;
    font-weight: 600;
}

.countdown-timer {
    margin-top: 80px;
    font-size: 60px;
    margin-bottom: 28px;
    font-weight: bold;
}

.below-time {
    padding-top: 12px;
    font-size: 18px;
    color: #969090;
    font-weight: 500;
    text-transform: uppercase;
}

.second-text {
    font-size: 24px;
    padding: 12px 0px 12px;
    font-weight: 500;
    color: #44e268;
}

.third-text {
    padding: 14px 0px 14px;
    font-size: 52px;
    font-weight: 500;
    color: #ff4081;
}

.fourth-text {
    padding: 24px 0px 14px;
    font-size: 42px;
    font-weight: 500;
    color: #dc3545;
}